@model ResultDto<PaginationDto<ProductsSiteDto>>
@{
    Layout = null;
}
<div class="col-lg-12 col-md-12 col-xs-12 pr order-1 d-block">
    <div class="slider-widget-products">
        <div class="widget widget-product card">
            <header class="card-header">
                <span class="title-one">@ViewBag.Category</span>
                <h3 class="card-title"></h3>
            </header>
            <div class="product-carousel owl-carousel owl-theme owl-rtl owl-loaded owl-drag">
                <div class="owl-stage-outer">
                    @if (Model.IsSuccess)
                    {
                        <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 2234px;">
                            @foreach (var item in Model.Data.Items.Take(4))
                            {
                                <div class="owl-item active" style="width: 309.083px; margin-left: 10px;">
                                    <div class="item">
                                        <a asp-controller="Product" asp-action="Detail" asp-route-id="@item.ProductId" class="d-block hover-img-link">
                                            <img src="~/@item.ImageSrc" class="img-fluid" alt="">
                                        </a>
                                        <h2 class="post-title">
                                            <a asp-controller="Product" asp-action="Detail" asp-route-id="@item.ProductId">
                                                @item.ProductTitle
                                            </a>
                                        </h2>
                                        <div class="price">
                                            @*                                    <del><span>۷,۵۰۰,۰۰۰<span>تومان</span></span></del>
                                    *@                                    <ins><span>@item.Price.ToString("n0")<span>تومان</span></span></ins>
                                        </div>
                                    </div>
                                </div>
                            }
                            @foreach (var item in Model.Data.Items.Skip(4))
                            {
                                <div class="owl-item" style="width: 309.083px; margin-left: 10px;">
                                    <div class="item">
                                        <a asp-controller="Product" asp-action="Detail" asp-route-id="@item.ProductId" class="d-block hover-img-link">
                                            <img src="~/@item.ImageSrc" class="img-fluid" alt="">
                                        </a>
                                        <h2 class="post-title">
                                            <a asp-controller="Product" asp-action="Detail" asp-route-id="@item.ProductId">
                                                @item.ProductTitle
                                            </a>
                                        </h2>
                                        <div class="price">
                                            @*                                    <del><span>۷,۵۰۰,۰۰۰<span>تومان</span></span></del>
                                    *@                                    <ins><span>@item.Price.ToString("n0")<span>تومان</span></span></ins>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                    }
                    else
                    {
                        <p>@Model.Message</p>
                    }
                </div>
                <div class="owl-nav">
                    <button type="button" role="presentation" class="owl-prev disabled">
                        <i class="fa fa-angle-right"></i>
                    </button>
                    <button type="button" role="presentation" class="owl-next">
                        <i class="fa fa-angle-left"></i>
                    </button>
                </div>
                <div class="owl-dots disabled"></div>
            </div>
        </div>
    </div>
</div>