@using Store.Common.Dto
@using Store.Application.Services.Products.Queries.GetCategories
@model ResultDto<List<CategoryDto>>
@{
    ViewData["Title"] = "دسته بندی ها";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<h6 class="mb-0 text-uppercase">لیست دسته بندی محصولات</h6>
<hr>
<div class="card">
    <div class="card-body">
        <table class="table mb-0 table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">عنوان دسته بندی</th>
                    <th scope="col">دسته بندی اصلی</th>
                    <th scope="col">عملیات ها</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.Data)
                {
                    <tr>
                        <th scope="row">@item.CategoryId</th>
                        <td>@item.CategoryTitle</td>
                        <td>
                            @{
                                string parentname = item.Parent != null ? item.Parent.CategoryTitle : "-";
                                long parentid = item.Parent != null ? item.Parent.CategoryId : 0;
                            }
                            @parentname
                        </td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-outline-secondary" onclick="DeleteCategory('@item.CategoryId')">حذف</button>
                                <button type="button" class="btn btn-outline-secondary" onclick="ShowEditCategoryModal('@item.CategoryId','@item.CategoryTitle','@parentid')">ویرایش</button>
                                <button type="button" class="btn btn-outline-secondary" onclick="ShowCategoryDetail('@item.CategoryId')">جزئیات</button>
                            </div>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>
<a href="#" onclick="ShowAddCategoryModal()">دسته بندی جدید</a>

@section Modals{
    <div class="modal fade" id="MyModal" tabindex="-1" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modaltitle">عنوان</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modalbody">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">بستن</button>
                    <button type="button" class="btn btn-primary" id="btnModal">
                        ثبت
                    </button>
                </div>
            </div>
        </div>
    </div>
}
    @section Scripts{
    <script src="~/admintemplate/assets/plugins/sweetalert2/sweetalert2.min.js"></script>

    <script>
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success',
                cancelButton: 'btn btn-danger me-2'
            },
            buttonsStyling: false,
        })
        function AddCategory() {

            var model = {
                CategoryTitle: $("#Add_CategoryTitle").val(),
                ParentCategoryId: $("#Add_ParentCategoryId").val()
            };

            // Post Data To Controller
            $.ajax({
                contentType: 'application/x-www-form-urlencoded',
                dataType: 'json',
                type: "POST",
                url: "AddCategory",
                data: model,
                success: function (data) {
                    if (data.isSuccess == true) {
                        swalWithBootstrapButtons.fire(
                            'موفق!',
                            data.message,
                            'success'
                        ).then(function (isConfirm) {
                            location.reload();
                        });
                    }
                    else {
                        swalWithBootstrapButtons.fire(
                            'هشدار!',
                            data.message,
                            'warning'
                        );
                    }
                }
            });
            $("#MyModal").modal("hide");


        }
        function EditCategory() {

            var model = {
                CategoryId: $("#CategoryId").val(),
                CategoryTitle: $("#Edit_CategoryTitle").val(),
                ParentCategoryId: $("#Edit_ParentCategoryId").val()
            }
            // Post Data To Controller
            $.ajax({
                contentType: 'application/x-www-form-urlencoded',
                dataType: 'json',
                type: "POST",
                url: "EditCategory",
                data: model,
                success: function (data) {
                    if (data.isSuccess == true) {
                        swalWithBootstrapButtons.fire(
                            'موفق!',
                            data.message,
                            'success'
                        ).then(function (isConfirm) {
                            location.reload();
                        });
                    }
                    else {
                        swalWithBootstrapButtons.fire(
                            'هشدار!',
                            data.message,
                            'warning'
                        );
                    }
                }
            });
            $("#MyModal").modal("hide");
        }
    </script>
    <script>
        function DeleteCategory(categoryid){
            swalWithBootstrapButtons.fire({
                title: 'حذف',
                text: "آیا میخواهید دسته بندی را حذف کنید؟",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonClass: 'me-2',
                confirmButtonText: 'بله حذف شود',
                cancelButtonText: 'خیر',
                reverseButtons: true
            }).then((result) => {
                if (result.value) {
                    //Click On Yes

                    var postData = {
                        'categoryId': categoryid,
                    };

                    // Post Data To Controller
                    $.ajax({
                        contentType: 'application/x-www-form-urlencoded',
                        dataType: 'json',
                        type: "POST",
                        url: "DeleteCategory",
                        data: postData,
                        success: function (data) {
                            if (data.isSuccess == true) {
                                swalWithBootstrapButtons.fire(
                                    'موفق!',
                                    data.message,
                                    'success'
                                ).then(function (isConfirm) {
                                    location.reload();
                                });
                            }
                            else {
                                swalWithBootstrapButtons.fire(
                                    'هشدار!',
                                    data.message,
                                    'warning'
                                );
                            }
                        }
                    });
                } else if (
                    // Read more about handling dismissals
                    result.dismiss === Swal.DismissReason.cancel
                ) {
                    swalWithBootstrapButtons.fire(
                        'لغو شد',
                        'شما عملیات را لغو کردید :)',
                        'error'
                    )
                }
            })
        }
    </script>
    <script>
        function ShowAddCategoryModal() {

            $.get("/Admin/Product/AddCategory", function (result) {

                $("#MyModal").modal();
                $("#modaltitle").html("افزودن دسته بندی");
                $("#btnModal").html("افزودن");
                $("#modalbody").html(result);
                $("#btnModal").attr("onclick", "AddCategory()");
                $("#MyModal").modal("show");

            });

        }
        function ShowEditCategoryModal(catid, categorytitle, parentcategoryid) {

            var model = {
                CategoryId: catid,
                CategoryTitle: categorytitle,
                ParentCategoryId: parentcategoryid
            }
            $.post("/Admin/Product/EditCategoryPage", model, function (result) {

                $("#MyModal").modal();
                $("#modaltitle").html("ویرایش دسته بندی");
                $("#btnModal").html("ویرایش");
                $("#modalbody").html(result);
                $("#btnModal").attr("onclick", "EditCategory()");
                $("#MyModal").modal("show");
                $("#Edit_ParentCategoryId").val(parentcategoryid).change();
            });

        }
        function ShowCategoryDetail(catid) {
            var model={
                categoryId : catid
            }
            $.post("/Admin/Product/DetailCategory", model, function (result) {

                $("#MyModal").modal();
                $("#modaltitle").html("جزئیات دسته بندی");
                $("#btnModal").html("تایید");
                $("#modalbody").html(result);
                $("#btnModal").attr("onclick", "");
                $("#MyModal").modal("show");

            });
        }
    </script>
}
    @section Css{
    <link href="~/admintemplate/assets/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
}

