@model GetProductSiteDto
@{
    ViewData["Title"] = "جزئیات محصول";
}
@section Css{
    <link href="~/sitetemplate/assets/css/vendor/lightgallery.css" rel="stylesheet" />
    <link href="~/remodal-1.1.1/src/remodal.css" rel="stylesheet" />
    <link href="~/remodal-1.1.1/src/remodal-default-theme.css" rel="stylesheet" />
    <link href="~/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
}

    <input type="hidden" value="@Model.ProductId" id="productid" />
    <div class="container-main">
        <div class="d-block">
            <div class="page-content page-row">
                <div class="main-row">
                    <div id="breadcrumb">
                        <i class="mdi mdi-home"></i>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">خانه</a></li>
                                <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Product" asp-route-CategoryId="@Model.CategoryId">@Model.Category</a></li>
                                <li class="breadcrumb-item active" aria-current="page">@Model.ProductName</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-lg">
                        <div class="product type-product">
                            <div class="col-lg-5 col-xs-12 pr d-block" style="padding: 0;">
                                <section class="product-gallery">
                                    <div class="gallery">
                                        <div class="gallery-item">
                                            <div>
                                                <ul class="gallery-actions">

                                                    <li class="Three-dimensional">
                                                        <a href="#" class="btn-option btn-Three-dimensional" data-toggle="modal" data-target="#more-product">
                                                            <i class="mdi mdi-more"></i>
                                                            <span>نمایش بیشتر</span>
                                                        </a>
                                                        <div class="modal fade" id="more-product" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                            <div class="modal-dialog modal-dialog-centered more-product" role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-body">
                                                                        <div id="custom-events">
                                                                        @foreach (var item in Model.Images)
                                                                        {

                                                                            <a href="~/@item">
                                                                                <img src="~/@item" />
                                                                            </a>
                                                                        }



                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                    <div class="gallery-item">
                                        <div class="gallery-img">
                                            <a href="#">
                                                <img class="zoom-img" id="img-product-zoom" src="~/@Model.Images.FirstOrDefault()"
                                                     data-zoom-image="/@Model.Images.FirstOrDefault()" width="411" />
                                                <div id="gallery_01f" style="width:420px;float:right;">
                                            </a>
                                            <ul class="gallery-items owl-carousel owl-theme" id="gallery-slider">

                                                @foreach (var item in Model.Images)
                                                {
                                                    <li class="item">
                                                        <a href="#" class="elevatezoom-gallery active" data-update=""
                                                       data-image="/@item"
                                                       data-zoom-image="/@item">
                                                            <img src="~/@item" width="100" />
                                                        </a>
                                                    </li>
                                                }
                                                <li class="item">
                                                    <a href="#" class="elevatezoom-gallery active" data-update=""
                                                       data-image="assets/images/page-single-product/product-img/product-img-note10-big-2.jpg"
                                                       data-zoom-image="assets/images/page-single-product/product-img/product-img-note10-big-2.jpg">
                                                        <img src="assets/images/page-single-product/product-img/product-img-note10-big-2.jpg" width="100" />
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        </section>
                    </div>
                    <div class="col-lg-7 col-xs-12 pl mt-5 d-block">
                        <section class="product-info">
                            <div class="product-headline">
                                <h1 class="product-title">
                                    @Model.ProductName
                                </h1>
                                <div class="product-guaranteed text-success">
                                    @Model.TotalOrders
                                    <span>فروش موفق</span>
                                </div>
                            </div>
                            <div class="product-attributes">
                                <div class="product-config">
                                    <span class="product-title-en">  @Model.ProductName</span>
                                    <div class="product-rate">
                                        @for (var i = 1; i <= Model.Stars; i++)
                                        {
                                            <i class="fa fa-star active"></i>
                                        }
                                        @for (var i = 1; i <= (5 - (Model.Stars)); i++)
                                        {
                                            <i class="fa fa-star"></i>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="product-config-wrapper">
                                <div class="product-directory">
                                    <ul>
                                        <li>
                                            <span>
                                                <i class="fa fa-archive"></i> دسته:
                                            </span>
                                            <a href="#" class="product-link product-cat-title">@Model.Category</a>

                                        </li>

                                        <li>
                                            <span>
                                                برند:
                                            </span>
                                            <a href="#" class="product-link product-tag-title">@Model.Brand</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col=lg-6 col-md-6 col-xs-12 pr">
                                    <div class="product-variants">
                                    </div>
                                    <div class="product-params pt-3">
                                        <ul data-title="ویژگی‌های محصول">

                                            @foreach (var item in Model.Features.Take(5))
                                            {
                                                <li>
                                                    <span>@item.Item1: </span>
                                                    <span>@item.Item2</span>
                                                </li>
                                            }


                                        </ul>
                                    </div>
                                    @*<div class="product-price-survey-question">
                                    آیا قیمت مناسب‌تری سراغ دارید؟
                                    <div class="answers">
                                    <a href="#" class="product-price-survery-answer price-yes btn btn-secondary">بلی</a>
                                    <a href="#" class="product-price-survery-answer price-no btn btn-secondary">خیر</a>
                                    </div>
                                    </div>*@
                                </div>
                                <div class="col=lg-6 col-md-6 col-xs-12 pr">
                                    <div class="product-seller-info">
                                        <div class="seller-info-changable">
                                            <div class="product-seller-row vendor">
                                                <span class="title"> فروشنده:</span>
                                                <a href="#" class="product-name">دیجی اسمارت</a>
                                            </div>
                                            <div class="product-seller-row guarantee">
                                                <span class="title"> گارانتی:</span>
                                                <a href="#" class="product-name">۱۸ ماهه دیجی اسمارت</a>
                                            </div>
                                            <div class="product-seller-row price">
                                                <span class="title"> قیمت:</span>
                                                <a href="#" class="product-name">
                                                    <span class="amount">
                                                        @Model.Price.ToString("n0")
                                                        <span>تومان</span>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="product-seller-row guarantee">
                                                <span class="title mt-3"> تعداد:</span>
                                                <div class="quantity pl">
                                                    <input type="number" min="1" id="countproduct" max="100" step="1" value="1"><div class="quantity-nav"><div class="quantity-button quantity-up">+</div><div class="quantity-button quantity-down">-</div></div>
                                                </div>
                                            </div>
                                            <div class="product-seller-row add-to-cart">
                                                <a href="#" onclick="AddToCart()" class="btn-add-to-cart btn btn-primary">
                                                    <span class="btn-add-to-cart-txt">افزودن به سبد خرید</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="product-usp">
                        <div class="product-feature">
                            <div class="product-feature-col">
                                <a href="#" class="product-feature-item">
                                    <img src="~/SiteTemplate/assets/images/page-single-product/delivery.svg">
                                    امکان تحویل
                                    <br>
                                    اکسپرس
                                </a>
                            </div>
                            <div class="product-feature-col">
                                <a href="#" class="product-feature-item">
                                    <img src="~/SiteTemplate/assets/images/page-single-product/contact-us.svg">
                                    ۷ روز هفته
                                    <br>
                                    ۲۴ ساعته
                                </a>
                            </div>
                            <div class="product-feature-col">
                                <a href="#" class="product-feature-item">
                                    <img src="~/SiteTemplate/assets/images/page-single-product/payment-terms.svg">
                                    امکان
                                    <br>
                                    پرداخت در محل
                                </a>
                            </div>
                            <div class="product-feature-col">
                                <a href="#" class="product-feature-item">
                                    <img src="~/SiteTemplate/assets/images/page-single-product/return-policy.svg">
                                    هفت روز ضمانت بازگشت کالا
                                </a>
                            </div>
                            <div class="product-feature-col">
                                <a href="#" class="product-feature-item">
                                    <img src="~/SiteTemplate/assets/images/page-single-product/origin-guarantee.svg">
                                    ضمانت
                                    <br>
                                    اصل بودن کالا
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tabs">
            <div class="tab-box">
                <ul class="tab nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="Review-tab" data-toggle="tab" href="#Review" role="tab" aria-controls="Review" aria-selected="true">
                            <i class="mdi mdi-glasses"></i>
                            نقد و بررسی
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="Specifications-tab" data-toggle="tab" href="#Specifications" role="tab" aria-controls="Specifications" aria-selected="false">
                            <i class="mdi mdi-format-list-checks"></i>
                            مشخصات
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="User-comments-tab" data-toggle="tab" href="#User-comments" role="tab" aria-controls="User-comments" aria-selected="false">
                            <i class="mdi mdi-comment-text-multiple-outline"></i>
                            نظرات کاربران
                        </a>
                    </li>

                </ul>
            </div>
            <div class="col-lg">
                <div class="tabs-content">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="Review" role="tabpanel" aria-labelledby="Review-tab">
                            <h2 class="params-headline">نقد و بررسی اجمالی</h2>
                            <section class="content-expert-summary">
                                <div class="mask pm-3">
                                    <div class="mask-text">

                                        @Model.Description
                                    </div>
                                    <a href="#" class="mask-handler">
                                        <span class="show-more">+ ادامه مطلب</span>
                                        <span class="show-less">- بستن</span>
                                    </a>
                                    <div class="shadow-box"></div>
                                </div>
                            </section>
                            <section class="content-expert-stats">
                                <div class="content-expert-evaluation">
                                </div>
                            </section>
                        </div>
                        <div class="tab-pane fade" id="Specifications" role="tabpanel" aria-labelledby="Specifications-tab">
                            <article>
                                <h2 class="params-headline">
                                    مشخصات فنی
                                    <span>Samsung Galaxy Note 10 Dual SIM 256GB Mobile Phone</span>
                                </h2>
                                <section>
                                    <ul class="params-list">
                                        @foreach (var item in Model.Features)
                                        {

                                            <li class="params-list-item">
                                                <div class="params-list-key">
                                                    <span class="block"> @item.Item1  </span>
                                                </div>
                                                <div class="params-list-value">
                                                    <span class="block">
                                                        @item.Item2
                                                    </span>
                                                </div>
                                            </li>
                                        }

                                    </ul>
                                </section>

                            </article>
                        </div>
                        <div class="tab-pane fade" id="User-comments" role="tabpanel" aria-labelledby="User-comments-tab">
                            <div class="comments">
                                <h2 class="params-headline">
                                    امتیاز کاربران به
                                    <span>Samsung Galaxy Note 10 Dual SIM 256GB Mobile Phone</span>
                                </h2>
                                <div class="comments-summary">
                                    <div class="col-lg-6 col-md-6 col-xs-12 pr">
                                        <div class="comments-summary-box">
                                            <ul class="comments-item-rating">
                                                <li>
                                                    <span class="cell-title">کیفیت ساخت:</span>
                                                    <span class="cell-value">خوب</span>
                                                    <div class="rating-general">
                                                        <div class="rating-value"></div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <span class="cell-title">ارزش خرید به نسبت قیمت:</span>
                                                    <span class="cell-value">خوب</span>
                                                    <div class="rating-general">
                                                        <div class="rating-value"></div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <span class="cell-title">نوآوری:</span>
                                                    <span class="cell-value">خوب</span>
                                                    <div class="rating-general">
                                                        <div class="rating-value" style="width: 70%;"></div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <span class="cell-title">امکانات و قابلیت ها:</span>
                                                    <span class="cell-value">متوسط</span>
                                                    <div class="rating-general">
                                                        <div class="rating-value" style="width: 65%;"></div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <span class="cell-title">سهولت استفاده:</span>
                                                    <span class="cell-value">خوب</span>
                                                    <div class="rating-general">
                                                        <div class="rating-value" style="width: 75%;"></div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <span class="cell-title">طراحی و ظاهر:</span>
                                                    <span class="cell-value">خوب</span>
                                                    <div class="rating-general">
                                                        <div class="rating-value"></div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-xs-12 pr">
                                        <div class="comments-summary-note">
                                            <h6>شما هم می‌توانید در مورد این کالا نظر بدهید.</h6>
                                            <p>
                                                برای ثبت نظر، لازم است ابتدا وارد حساب کاربری خود شوید. اگر این محصول را قبلا از دیجی‌کالا خریده باشید،
                                                نظر
                                                شما به عنوان مالک محصول ثبت خواهد شد.
                                            </p>
                                            <button type="button" data-remodal-target="modal" href="#modal" class="btn-add-comment btn btn-secondary">افزودن نظر جدید</button>

                                        </div>
                                    </div>
                                    <div class="product-comment-list">
                                        @await Component.InvokeAsync("Comments",new {productId=Model.ProductId})
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Modals{
    @if (!User.Identity.IsAuthenticated)
    {
        <div class="remodal" data-remodal-id="modal">
            <button data-remodal-action="close" class="remodal-close"></button>
            <h1>افزودن نظر</h1>
            <p>
                برای افزودن نظر ابتدا باید به حساب خود وارد شوید
            </p>
            <br>
            <a href="/authentication/signup" class="remodal-cancel">ثبت نام</a>
            <a href="/authentication/signin" class="remodal-confirm">ورود</a>
        </div>
    }
    else
    {
        <div class="remodal" data-remodal-id="modal">
            <button data-remodal-action="close" class="remodal-close"></button>
            <h1>افزودن نظر</h1>
            <p>
                <div>
                    <p>عنوان نظر</p>
                    <input type="text" id="comment_title" placeholder="عنوان نظر را اینجا بنویس" />
                    <p>نظر</p>
                    <textarea id="comment_content" placeholder="نظر شما درمورد محصول"></textarea>
                    <p>میزان رضایت از محصول</p>
                    <select id="comment_rate" asp-items="@ViewBag.RateOptions">
                    </select>
                    <p>نقاط قوت محصول</p>
                    <input type="text" id="txtgood" />
                    <button id="btnAddGood">افزودن</button>
                    <p>نقاط ضعف محصول</p>
                    <input type="text" id="txtbad" />
                    <button id="btnAddBad">افزودن</button>
                    <table class="table table-borderless" id="tbl_goodpoints">
                        <thead>
                            <tr>
                                <th scope="col">نقاط قوت محصول</th>
                                <th scope="col"> </th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <table class="table table-borderless" id="tbl_badpoints">
                        <thead>
                            <tr>
                                <th scope="col">نقاط ضعف محصول</th>
                                <th scope="col"> </th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </p>
            <br>
            <button data-remodal-action="cancel" class="remodal-cancel">صرف نظر</button>
            <button data-remodal-action="confirm" onclick="AddComment()" class="remodal-confirm">ثبت نظر</button>
        </div>
    }
}
    @section Scripts
    {
    <script src="~/SiteTemplate/assets/js/vendor/lightgallery-all.js"></script>
    <script src="~/SiteTemplate/assets/js/vendor/jquery.ez-plus.js"></script>
    <script src="~/sweetalert2/sweetalert2.min.js"></script>
    <script>
        function AddToCart() {
            $.ajax({
                dataType: 'json',
                type: 'POST',
                url: '@Url.Action("Edit","Cart")',
                data: { ProductId: @Model.ProductId, ProductCount: $("#countproduct").val() },
                success: function (data) {
                    if(data.isSuccess){
                        location.reload();
                    }
                },
                error: function (jqXhr, textStatus, errorMessage) {

                }
            });
        }
    </script>
    <script src="~/remodal-1.1.1/src/remodal.js"></script>
    <script>
        $("#btnAddGood").on("click", function () {

            var txtgood = $("#txtgood").val();

            if (txtgood == "") {
                //swal.fire(
                //    'هشدار!',
                //    "نام و مقدار را باید وارد کنید",
                //    'warning'
                //);
            }
            else {
                $('#tbl_goodpoints tbody').append('<tr> <td>' + txtgood + '</td>  <td><button type="button" class="btn review">حذف</button></td> </tr>');
                $("#txtgood").val('');
            }
        });
        $("#btnAddBad").on("click", function () {

            var txtbad = $("#txtbad").val();

            if (txtbad == "") {
                //swal.fire(
                //    'هشدار!',
                //    "نام و مقدار را باید وارد کنید",
                //    'warning'
                //);
            }
            else {
                $('#tbl_badpoints tbody').append('<tr> <td>' + txtbad + '</td>  <td><button type="button" class="btn review">حذف</button></td> </tr>');
                $("#txtbad").val('');
            }
        });
        $("#tbl_goodpoints").on('click', '.review', function () {
            $(this).closest('tr').remove();
        });
        $("#tbl_badpoints").on('click', '.review', function () {
            $(this).closest('tr').remove();
        });
    </script>
    <script>
        function AddComment() {
            var dt = new FormData();

            dt.append("ProductId", '@Model.ProductId');
            dt.append("CommentTitle", $("#comment_title").val());
            dt.append("Comment", $("#comment_content").val());
            dt.append("Stars", $("#comment_rate").find('option:selected').val());

            var ProsViewModel = $('#tbl_goodpoints tr:gt(0)').map(function () {
                return $(this.cells[0]).text();
            }).get();
            var ConsViewModel = $('#tbl_badpoints tr:gt(0)').map(function () {
                return $(this.cells[0]).text();
            }).get();

            $.each(ProsViewModel, function (i, val) {
                dt.append('Pros[' + i + ']', val);
            });
            $.each(ConsViewModel, function (i, val) {
                dt.append('Cons[' + i + ']', val);
            });



            $.ajax({
                url: '/product/AddComment',
                type: 'POST',
                dataType: 'json',
                data: dt,
                processData: false,
                contentType: false,
                success: function (data) {

                    if (data.isSuccess == true) {

                        swal.fire(
                            'موفق!',
                            data.message,
                            'success'
                        ).then(function (isConfirm) {
                            window.location.reload();

                        });
                    }
                    else {

                        swal.fire(
                            'هشدار!',
                            data.message,
                            'warning'
                        );
                    }

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }

            });


        }
    </script>
}