@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, LazZiya.TagHelpers


@using Store.Application.Services.Users.Queries.GetUsers
@model ResultGetUserDto
@{
    ViewData["Title"] = "لیست کاربران";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section Css{
    <link href="~/admintemplate/assets/plugins/datatable/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
    <link href="~/admintemplate/assets/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <link href="~/admintemplate/assets/plugins/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/admintemplate/assets/plugins/select2/css/select2-bootstrap4.css" rel="stylesheet" />
}
    <h6 class="mb-0 text-uppercase">لیست کاربران </h6>
    <hr>
    <div class="card">
        <div class="card-body">
            <form>
                <div class="d-lg-flex align-items-center mb-4 gap-3">
                    <div class="position-relative">
                        <input name="SearchKey" type="text" class="form-control ps-5 radius-30" placeholder="جستجوی کاربر"> <span class="position-absolute top-50 product-show translate-middle-y"><i class="bx bx-search"></i></span>
                    </div>
                    <div class="ms-auto"><button href="javascript:;" type="submit" class="btn btn-primary radius-30 mt-2 mt-lg-0"><i class="lni lni-search"></i>جستجو</button></div>
                </div>
            </form>
            <table class="table table-borderless mb-0">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">نام</th>
                        <th scope="col">ایمیل</th>
                        <th scope="col">نقش ها</th>
                        <th scope="col">عملیات</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.Users)
                {
                    <tr>
                        <th scope="row">@item.UserId</th>
                        <td>@item.UserFullName</td>
                        <td>@item.Email</td>
                        <td>


                            <div class="chip chip-lg">
                                @item.UserRoleName
                            </div>

                        </td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#EditUserModal" onclick="EditUserModal('@item.UserId','@item.UserFullName','@item.Email','@item.UserRole','@item.Address','@item.ZipCode','@item.PhoneNumber')">ویرایش</button>
                                <button type="button" class="btn btn-primary split-bg-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="visually-hidden">عملیات ها</span>
                                </button>
                                <ul class="dropdown-menu" style="">
                                    <li>
                                        <a class="dropdown-item" href="/admin/user/detail?userId=@item.UserId">جزئیات</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#" onclick="DeleteUser('@item.UserId')">حذف</a>
                                    </li>
                                    <li>
                                        @if (item.IsActive)
                                        {
                                            <a class="dropdown-item" onclick="ChangeUserState('@item.UserId')" href="#">غیرفعال</a>
                                        }
                                        else
                                        {
                                            <a class="dropdown-item" onclick="ChangeUserState('@item.UserId')" href="#">فعال</a>
                                        }
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="text-center pagination round-pagination">
            <paging total-records="Model.RowsCount"
                    page-no="Model.CurrentPage"
                    page-size="Model.PageSize"
                    show-prev-next="true"
                    sr-text-first="ابتدا"
                    sr-text-last="انتها"
                    sr-text-next="بعدی"
                    sr-text-previous="قبلی"
                    show-total-pages="false"
                    show-total-records="true"
                    show-page-size-nav="false"
                    show-first-numbered-page="true"
                    show-last-numbered-page="true"
                    query-string-key-page-no="Page"
                    query-string-key-page-size="PageSize"
                    gap-size="2">
            </paging>

        </div>
    </div>
</div>
@section Scripts{

    <script src="~/admintemplate/assets/plugins/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/admintemplate/assets/plugins/select2/js/select2.min.js"></script>
    <script>
        function EditUserModal(UserId, fullName, email, userroleid,address,zipcode,phone) {
            $('#Edit_FullName').val(fullName);
            $('#Edit_UserId').val(UserId);
            $('#Edit_EmailAddress').val(email);
            $('#Edit_RoleIdSelect').val(userroleid).change();
            $('#inputAddress').val(address).change();
            $('#Edit_ZipCode').val(zipcode).change();
            $('#Edit_Phone').val(phone).change();

            $('#EditUser').modal('show');

        }
        function Edituser() {
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger me-2'
                },
                buttonsStyling: false,
            })

            var userId = $("#Edit_UserId").val();
            var fullName = $("#Edit_FullName").val();
            var email = $("#Edit_EmailAddress").val();
            var roleId = $("#Edit_RoleIdSelect").val();
            var address = $("#inputAddress").val();
            var zipcode = $("#Edit_ZipCode").val();
            var phone = $("#Edit_Phone").val();


            var postData = {
                'UserId': userId,
                'FullName': fullName,
                'Email': email,
                'RoleId': roleId,
                'Address': address,
                'ZipCode':zipcode,
                'PhoneNumber': phone
            };



            $.ajax({
                contentType: 'application/x-www-form-urlencoded',
                dataType: 'json',
                type: "POST",
                url: "Edit",
                data: postData,
                success: function (data) {
                    if (data.isSuccess == true) {
                        swalWithBootstrapButtons.fire(
                            'موفق!',
                            data.message,
                            'success'
                        ).then(function (isConfirm) {
                            location.reload();
                        });
                    }
                    else {
                        swalWithBootstrapButtons.fire(
                            'هشدار!',
                            data.message,
                            'warning'
                        );
                    }
                }
            });

            $('#EditUserModal').modal('hide');


        }
    </script>

    <script>
        function DeleteUser(userid) {
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-danger',
                    cancelButton: 'btn btn-info me-2'
                },
                buttonsStyling: false,
            })

            swalWithBootstrapButtons.fire({
                title: 'حذف کاربر',
                text: "آیا میخواهید کاربر را حذف کنید؟",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonClass: 'me-2',
                confirmButtonText: 'بله حذف شود',
                cancelButtonText: 'خیر',
                reverseButtons: true
            }).then((result) => {
                if (result.value) {
                    //Click On Yes
                    var userId = userid;


                    var postData = {
                        'userId': userId,
                    };

                    // Post Data To Controller
                    $.ajax({
                        contentType: 'application/x-www-form-urlencoded',
                        dataType: 'json',
                        type: "POST",
                        url: "Delete",
                        data: postData,
                        success: function (data) {
                            if (data.isSuccess == true) {
                                swalWithBootstrapButtons.fire(
                                    'موفق!',
                                    data.message,
                                    'success'
                                ).then(function (isConfirm) {
                                    location.reload();
                                });
                            }
                            else {
                                swalWithBootstrapButtons.fire(
                                    'هشدار!',
                                    data.message,
                                    'warning'
                                );
                            }
                        }
                    });
                } else if (
                    // Read more about handling dismissals
                    result.dismiss === Swal.DismissReason.cancel
                ) {
                    swalWithBootstrapButtons.fire(
                        'لغو شد',
                        'شما عملیات را لغو کردید :)',
                        'error'
                    )
                }
            })
        }
    </script>

    <script>
        function ChangeUserState(userid) {
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger me-2'
                },
                buttonsStyling: false,
            })

            swalWithBootstrapButtons.fire({
                title: 'تغییر وضعیت کاربر',
                text: "آیا میخواهید وضعیت کاربر را تغییر دهید؟",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonClass: 'me-2',
                confirmButtonText: 'بله ',
                cancelButtonText: 'خیر',
                reverseButtons: true
            }).then((result) => {
                if (result.value) {
                    //Click On Yes
                    var userId = userid;


                    var postData = {
                        'userId': userId,
                    };

                    // Post Data To Controller
                    $.ajax({
                        contentType: 'application/x-www-form-urlencoded',
                        dataType: 'json',
                        type: "POST",
                        url: "ChangeAccountState",
                        data: postData,
                        success: function (data) {
                            if (data.isSuccess == true) {
                                swalWithBootstrapButtons.fire(
                                    'موفق!',
                                    data.message,
                                    'success'
                                ).then(function (isConfirm) {
                                    location.reload();
                                });
                            }
                            else {
                                swalWithBootstrapButtons.fire(
                                    'هشدار!',
                                    data.message,
                                    'warning'
                                );
                            }
                        }
                    });
                } else if (
                    // Read more about handling dismissals
                    result.dismiss === Swal.DismissReason.cancel
                ) {
                    swalWithBootstrapButtons.fire(
                        'لغو شد',
                        'شما عملیات را لغو کردید :)',
                        'error'
                    )
                }
            })
        }
        $('.multiple-select').select2({
            theme: 'bootstrap4',
            width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
            placeholder: $(this).data('placeholder'),
            allowClear: Boolean($(this).data('allow-clear')),
        });
    </script>
}
    @section Modals{
    <!-- Modal -->
    <div class="modal fade" id="EditUserModal" tabindex="-1" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">ویرایش کاربر</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input hidden id="Edit_UserId" />
                    <section class="row g-3">
                        <div class="col-md-6">
                            <label for="Edit_FullName" class="form-label">نام</label>
                            <div class="input-group">
                                <span class="input-group-text bg-transparent"><i class="bx bxs-user"></i></span>
                                <input type="text" class="form-control border-start-0" id="Edit_FullName" placeholder="نام">
                            </div>
                        </div>
                        <div class="col-6">
                            <label for="Edit_EmailAddress" class="form-label">آدرس ایمیل</label>
                            <div class="input-group">
                                <span class="input-group-text bg-transparent"><i class="bx bxs-message"></i></span>
                                <input type="text" class="form-control border-start-0" id="Edit_EmailAddress" placeholder="آدرس ایمیل">
                            </div>
                        </div>
                        <div class="col-6">
                            <label for="Edit_RoleIdSelect" class="form-label">نقش</label>
                            <div class="input-group">
                                <select class="form-select form-select-sm mb-3" aria-label="مثال ورودی انتخاب کوچک" id="Edit_RoleIdSelect" asp-items="@ViewBag.Roles">
                                </select>
                            </div>
                        </div>
                        <div class="col-6">
                            <label for="Edit_Phone" class="form-label">شماره تماس</label>
                            <div class="input-group">
                                <span class="input-group-text bg-transparent"><i class="bx bx-phone"></i></span>
                                <input type="tel" class="form-control border-start-0" id="Edit_Phone" placeholder="شماره تماس">
                            </div>
                        </div>
                        <div class="col-6">
                            <label for="Edit_ZipCode" class="form-label">کدپستی</label>
                            <div class="input-group">
                                <span class="input-group-text bg-transparent"><i class="bx bx-home-alt"></i></span>
                                <input type="number" class="form-control border-start-0" id="Edit_ZipCode" placeholder="کدپستی">
                            </div>
                        </div>
                        <div class="col-12">
                            <label for="inputAddress" class="form-label">آدرس</label>
                            <textarea class="form-control" id="inputAddress" placeholder="آدرس خود را وارد کنید" rows="3"></textarea>
                        </div>
                    </section>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">بستن</button>
                    <button type="button" class="btn btn-primary" onclick="Edituser()">
                        ذخیره
                        تغییرات
                    </button>
                </div>
            </div>
        </div>
    </div>
}
